body {
    font-family: 'Trebuchet MS';
    background-color: #edebeb;
    line-height: 1.6;
    margin: 10;
    padding: 20px;
}

.container {
    padding-left: 250px;
}
  
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px; 
    background-color: #f8f9fa;
    padding: 20px;
}
  
.sidebar a {
    color: #0c0e0f;
    padding: 10px;
}
  
.sidebar a:hover {
    background-color: #9098a0;
}

.carousel-item img {
    max-height: 500px;
    object-fit: cover;
}

.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    height: 250px;
    object-fit: cover;
}

h1, h2 {
    color: #0a1219;
    font-weight: bold;
}

section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}